/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* Styles to reset default browser page settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
    --primary-font: "Inter", sanserif;
    --secondary-font: "Macondo", cursie;
    --primary-color: #416a8e; /* blue */
    --secondary-color: #aa9581; /* brown /
}

/* General body styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
}